/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.label{
	-fx-text-fill : blue;
	-fx-cursor : hand;
	-fx-font-weight : bold;
}
#mess{
	-fx-text-fill : red;
	-fx-font-weight: bold;
}